body{
	> footer{
		background: #333;
		padding: 20px 0 0;
		> .container{
			padding-bottom: 95px;
		}
		#footer-sidebar{
			> .footer-widget{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(4);
				> h4.widget__title{
					position: relative;
					margin: 12px 0;
					height: 36px;
					font: 22px $font_main;
					color: #fff;
					text-indent: 12px;
					padding-top: 3px;

					> span{
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 4px;
						height: 36px;
						background: #C72327;
					}
				}
				p{
					color: #777;
					font: bold 11px $font_main;
				}
				> ul#fotos{
					list-style: none;
					padding: 0;
					> li{
						float: left;
						display: inline;
						width: 30%;
						margin: 0 5% 5% 0;
						&:nth-child(3n){
							margin-right: 0;
						}
					}
				}
				&.footer-widget--about{
					a{
						display: block;
						width: 60%;
					}
					p{
						width: 75%;
						margin: 20px 0 0;
					}
				}
			}
		}
		> #redes-sociais{
			background: #555;
			padding: 10px 0;
			
			#redes-sociais__container{
				@include make-md-column(12);

				> ul#redes-sociais__icons{
					float: right;

					> li{
						display: inline;
						float: left;
						margin-right: 5px;

						> a.icon{
							display: block;
							@extend .sprite_redes_sociais;

							&,
							&:hover{
								transition: all 0.2s linear;
							}

							&.icon--facebook{
								@include sprite-define(30px, 32px, -5px, -131px);
								&:hover{
									background-position:-5px -89px;						
								}
							}
							&.icon--twitter{
								@include sprite-define(30px, 32px, -5px, -551px);
								&:hover{
									background-position:-5px -508px;
								}
							}
							&.icon--youtube{
								@include sprite-define(30px, 32px, -6px, -719px);
								&:hover{
									background-position:-6px -677px;
								}
							}
							&.icon--gplus{
								@include sprite-define(30px, 32px, -5px, -299px);
								&:hover{
									background-position:-5px -257px;
								}
							}
						}
					}
					> :last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
}